<%- include('includes/_header')%>

              
<% for(let privilegio of privilegios) { %>
  <% if(privilegio.privilegio == 'Crear videojuegos') { %>
    <script> console.log("admin") </script>
    <a href="/videojuegos/new"><button class="button is-primary">Nuevo videojuego</button></a>
  <% } %>
<% } %>
<% for(let privilegio of privilegios) { %>
  <% if(privilegio.privilegio == 'editar roles y privilegios') { %>
    <script> console.log("admin") </script>
    <a href="/videojuegos/editarPrivilegios"><button class="button is-primary">Editar privilegios</button></a>
  <% } %>
<% } %>
              <div class="columns">
          <%for (let juego of videojuegos) { %>
                <div class="column">
                   <%= juego.nombre %> <br>
                   <span class = "tag"><%= juego.tipo %></span>
                    <figure class="image">
                        <img class="is-rounded" src="<%= juego.imagen %>" />
                    </figure>
                </div>
        <% } %>
              </div>
            </div>
          </section>
          <section class="section">
            <div class="container">
              <div class="columns">
                <div class="column">
                  <h1 class="title">Comandos de git</h1>
                  <ul>
                    <li>git add: Sirve para agregar cambios a la transacción.</li>
                    <li>
                      git commit -m "mensaje en imperativo": Sirve para comprometer 
                      la transacción, es decir, guardar los cambios.
                    </li>
                    <li>git checkout <strong>[nombre_rama]</strong>: Sirve para cambiarse de rama.</li>
                    <li>
                      git checkout -b [nombre_rama]: Sirve para crear una nueva rama y 
                      cambiarse a esa nueva rama.
                    </li>
                    <li>
                      git push: Sirve para sincronizar los cambios desde mi repositorio 
                      hacia el repositorio remoto.
                    </li>
                    <li>
                      git pull: Sirve para sincronizar los cambios del repositorio remoto 
                      hacia mi repositorio.
                    </li>
                  </ul>
                </div>
              </div>
              <a href="/videojuegos/git"><button class="button is-primary">Comandos GITHUB</button></a>
              <div class="columns">
  <div class="columns mt-4">
    <div class="column">
      <h1 class="title">Respuestas Laboratorio 11</h1>
      <a href="/videojuegos/RespuestasLab11">
        <button class="button is-primary">Respuestas</button>
      </a>
    </div>
    <div class="column">
      <h1 class="title">Tienda de Snoopy</h1>
      <a href="/videojuegos/Lab/Lab10">
        <button class="button is-primary">Vamos a la tienda de Snoopy</button>
      </a>
    </div>
    <!-- Preguntas Lab 13-->
    <div class="column">
      <h1 class="title">Preguntas Lab 13</h1>
      <a href="/videojuegos/Lab13_preguntas">
        <button class="button is-primary">Preguntas Lab13</button>
      </a>
    </div>
    <!--Preguntas Lab 17 && Lab18-->
    <div class="column">
      <h1 class="title">Preguntas Laboratorio 17, Laboratorio 18 y Laboratorio 19</h1>
      <a href="/videojuegos/Lab17">
        <button class="button is-primary">17,18,19</button>
      </a>
    </div>
  </div>
</div>
</div>
</section>

<%- include('includes/_footer') %>